<h2>従業員データ作成</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "employees/shared/error_messages", resource: resource %>

  <div class="session-field">
    <%= f.label :名前 %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="session-field">
    <%= f.label :従業員ID %><br />
    <%= f.text_field :employee_id, autocomplete: "employee_id" %>
  </div>

  <div class="session-field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="session-field">
    <%= f.label :時給 %><br />
    <%= f.number_field :wage, step: 100 %> 円
  </div>

  <div class="session-field">
    <%= f.label :休憩時間 %><br />
    <%= f.number_field :break_time %> 時間
  </div>

  <div class="session-field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="session-field">
    <%= f.label :パスワード確認 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="session-submit">
    <%= f.submit "作成" %>
  </div>
<% end %>
