<h2>従業員メニュー</h2>

<div class="clock-form">
    <%= form_with model: @work_time, url: clock_in_work_times_path, method: :post do |form| %>
        <%= form.submit "出勤", class: "btn btn-primary" %>
    <% end %>
</div>

<div class="clock-form">
    <%= form_with model: @work_time, url: clock_out_work_times_path, method: :post do |form| %>
        <%= form.submit "退勤", class: "btn btn-primary" %>
    <% end %>
</div>

<% if employee_signed_in? %>
    <%= link_to "ログアウト", destroy_employee_session_path, method: :delete, class: "logout" %>
<% end %>

<%= link_to ">> マイページはこちら", employee_path(current_employee.id), class: "employee-nav" %>

